.dark-version {
  background-color: $white !important;

  > div[class*="bg-"] {
    background-color: $white !important;
  }

  .sidenav {
    background: $light !important;

    &.bg-transparent {
      background: transparent !important;

      .navbar-nav {
        .nav-link {
          color: $dark !important;
        }
      }
      .nav {
        .nav-link {
          color: $dark !important;
        }
      }
    }

    &.bg-white {
      background: $white !important;

      .navbar-nav {
        .nav-link {
          &.active:after {
            color: $primary;
          }
        }
      }
      .collapse {
        .nav-item {
          .nav-link:not(.active) {
            i {
              color: $dark !important;
            }
          }
          h6 {
            color: $dark !important;
          }
        }
      }
    }
  }

  .fixed-plugin {
    .btn {
      &.bg-gradient-dark,
      &.btn-outline-dark {
        color: $dark !important;
        border: 1px solid $dark !important;
      }
      &.active {
        background: $dark !important;
        color: $white !important;
      }
    }
  }

  .bg-gradient-dark {
    background-image: linear-gradient(
      195deg,
      #e0e0e0,
      #f5f5f5
    );
  }

  .card,
  .swal2-popup,
  .dropdown .dropdown-menu,
  .kanban-board {
    background: $white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

    .card-header {
      background: transparent;
    }

    p {
      color: $dark !important;
      opacity: 0.8;
    }
  }

  .kanban-item {
    background: $light !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .swal2-html-container {
    color: $dark !important;
    opacity: 0.8;
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6,
  a:not(.dropdown-item):not(.choices__item):not(.leaflet-control-zoom-in):not(
      .leaflet-control-zoom-out
    ):not(.btn):not(.nav-link):not(.fixed-plugin-button),
  .table thead tr th,
  .kanban-title-board {
    color: $dark !important;
  }

  .input-group {
    &.input-group-dynamic,
    &.input-group-static {
      .form-control {
        background-image: linear-gradient(0deg, $primary 2px, rgba($primary, 0) 0),
          linear-gradient(0deg, #d2d2d2 1px, rgba(#d2d2d2, 0) 0) !important;
        background-size:
          0 100%,
          100% 100%;
        color: $dark !important;
        &:focus {
          background-size:
            100% 100%,
            100% 100%;
        }
      }
    }

    &.input-group-outline {
      .form-control {
        border-color: #d2d2d2 !important;
        color: $dark !important;
      }
    }

    .is-valid,
    .is-invalid {
      border-color: #d2d2d2 !important;
    }
  }

  .accordion {
    .accordion-button {
      border-color: #d2d2d2 !important;
      color: $dark;
      opacity: 0.9;
    }
  }

  .table > :not(caption) > * > * {
    border-color: #e0e0e0 !important;
    color: $dark !important;
  }

  label {
    color: #555555 !important;
  }

  .list-group-item,
  .multisteps-form__panel {
    background-color: $white !important;
    border-color: rgba(0, 0, 0, 0.1) !important;
  }

  .nav {
    &.bg-white {
      background-color: $white !important;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    }

    .nav-link[data-scroll]:hover {
      color: $primary !important;
    }
  }

  .toast {
    background-color: $white !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

    .toast-header {
      background: transparent;
    }

    span {
      color: $dark;
    }

    p {
      color: $dark !important;
      opacity: 0.8;
    }
  }

  .choices {
    .choices__input {
      background-color: $white !important;
      border-bottom: 1px solid #d2d2d2;
      color: $dark;
    }
    .choices__list.choices__list--dropdown {
      background: $white;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    }
  }

  // Fullcalendar changes
  .fc-theme-standard td,
  .fc-theme-standard th {
    border-color: #e0e0e0;
  }

  // Datatable changes
  .dataTable-sorter::after {
    border-bottom-color: $dark;
  }

  .dataTable-sorter::before {
    border-top-color: $dark;
  }

  // Quill changes
  .ql-snow .ql-stroke {
    stroke: $dark;
  }

  .ql-snow .ql-fill,
  .ql-snow .ql-stroke.ql-fill {
    fill: $dark;
  }

  .ql-toolbar.ql-snow .ql-picker-label {
    color: $dark;
  }

  .navbar-vertical {
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: $dark;
          opacity: 0.9;

          &[data-bs-toggle="collapse"]:after {
            color: $dark;
          }

          &.active {
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
          }
        }
        .collapse,
        .collapsing {
          .nav {
            .nav-item {
              .nav-link {
                color: $dark;
                opacity: 0.7;

                &.active {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}

body.dark-version {
  color: #344767 !important;
  background-color: $white !important;
}