.navbar {
  box-shadow: $navbar-box-shadow;

  // Normal Mode Text Colors
  .navbar-brand {
    color: $dark;
    @include font-size($font-size-sm);
  }
  .nav-link {
    color: $dark;
    padding: $navbar-nav-link-padding;
    font-weight: $font-weight-normal;
    font-size: $font-size-sm;
  }

  // Dark Navbar Mode
  &.navbar-dark {
    .navbar-brand {
      color: $white !important;
    }

    .nav-link {
      color: $white !important;

      &:hover,
      &:focus {
        color: rgba($white, 0.75) !important;
      }
    }
  }

  &.navbar-absolute {
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  &.navbar-transparent {
    .nav-link {
      &,
      i {
        color: $white;
      }

      &:hover,
      &:focus {
        color: rgba($white, 0.75);
      }
    }

    .navbar-toggler {
      .navbar-toggler-icon {
        .navbar-toggler-bar {
          background: $white;
        }
      }
    }

    .navbar-collapse {
      border-radius: $border-radius-xl;
    }
  }

  .sidenav-toggler-inner {
    width: $sidenav-toggler-width;
    .sidenav-toggler-line {
      transition: $sidenav-toggler-line-transition;
      background: $body-color;
      border-radius: $border-radius-xs;
      position: relative;
      display: block;
      height: $sidenav-toggler-line-height;

      &:not(:last-child) {
        margin-bottom: $sidenav-toggler-line-margin-bottom;
      }
    }
  }

  .g-sidenav-show.g-sidenav-pinned & {
    .sidenav-toggler-inner {
      .sidenav-toggler-line:first-child,
      .sidenav-toggler-line:last-child {
        width: $sidenav-toggler-line-active-width;
        transform: $sidenav-toggler-line-transform;
      }
    }
  }
}
